<!doctype html>
<html>
    <head>
        <title>@(ViewBag.Title)</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.18/default/snipcart.css" />
        <link rel="stylesheet" href="@Html.GetLink("assets/css/main.css")">
        <link rel="icon" type="image/png" href="@Html.GetLink(Html.Site().Settings.FavIcon)">
    </head>
<body class="@(ViewBag.BodyCssClass)">
    <div class="site-wrapper">
        <partial name="components/header" />
        @RenderBody()
        <partial name="components/footer" />
    </div>

    <div style="display: none" id="template-params" data-api-key="@Html.Site().Settings.SnipcartApiKey" data-templates-url="@Html.GetLink("js/snipcart-templates.vue")"></div>
    <script src="@Html.GetLink("js/lib/modernizr.js")"></script>
    <script src="@Html.GetLink("js/main.js")"></script>
    <script src="@Html.GetLink("js/page_load.js")"></script>
</body>
</html>